{layout ABSOLUTE_PATH . '/../app/adminModule/templates/@layout.latte'}


{block buttonNavBar}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <div class="btn-group">
                <button type="submit" name="frm-form-submit" form="frm-form" class="btn btn-lg btn-primary text-center"><span class="icon">&#61853</span><br /> <span class="title">{_'Uložiť'}</span></button>
            </div>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <div class="btn-group">
                <a n:href="ShopProductsAvailability:, 'id' => null" class="btn btn-lg btn-default text-center"><span class="icon">&#61740</span><br /> <span class="title">{_'Späť na zoznam'}</span></a>
            </div>
        </li>
    </ul>
{/block}


{block content}

{form form}
    {var $i = 0}
    <div class="col-xs-12 content">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>{_'Dostupnosť'}</label>
                            <select class="form-control" n:name="availability_id"></select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>{_'Poradie'}</label>
                            <input class="form-control" n:name="sort">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <select class="form-control select2" n:name="categories"></select>
                </div>
            </div>
        </div>

        <div n:multiplier="conditions" class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        {if $i == 0}
                            <strong style="display: inline-block; margin-top: 10px;">WHERE</strong>
                            <input type="hidden" n:name="condition" value="AND">
                        {else}
                            <div class="form-group">
                                <select class="form-control" n:name="condition"></select>
                            </div>
                        {/if}
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <select class="form-control" n:name="store_id"></select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-2">
                        <div class="form-group">
                            <select class="form-control" n:name="expression"></select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-2">
                        <div class="form-group">
                            <input class="form-control" n:name="value">
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-1">
                        <div class="form-group">
                            <select class="form-control" n:name="note"></select>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-2 text-right">
                        {btnRemove 'class' => 'btn btn-danger'}
                    </div>
                </div>
            </div>

            {php $i++}
        </div>

        <p class="text-center">
            {btnCreate $form['conditions'], 'class' => 'btn btn-primary'}
        </p>
    </div>
{/form}