{layout ABSOLUTE_PATH . '/../app/adminModule/templates/ajaxModalLayout.latte'}

{block content}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{_'Zavrieť'}</span></button>
		<h4 class="modal-title">{$siteTitle}</h4>
	</div>

	<div class="modal-body text-center">
		<strong>{_'Skutočne chcete odstrániť toto pravidlo?'}</strong>
	</div>

	<div class="modal-footer">
		<a n:href="delete!" class="btn btn-primary">{_'Odstrániť'}</a>
		<a href="#" data-dismiss="modal" class="btn btn-danger">{_'Zrušiť'}</a>
	</div>