{layout ABSOLUTE_PATH . '/../app/adminModule/templates/@layout.latte'}

{block content}

<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            {_'Zoznam pravidiel'}
            <a href="{plink :Admin:ShopProductAvailabilityRule:create, 'id' => null}" class="btn btn-primary btn-sm pull-right">
                <span class="glyphicon glyphicon-plus-sign"></span> {_'Pridať'}
            </a>
        </div>

        <div class="panel-body custom-align">
            {control grid}
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-primary">
        {control availabilityList}
    </div>

    <div class="list-group">
        <a n:href="regenerate!" class="list-group-item">
            {_'Pregenerovať dostupnosti na produktoch'}
        </a>
        <a href="{plink :Admin:Supplier:descriptions, 'id' => null}" class="list-group-item">
            {_'Zoznam textov od dodávateľa'}
        </a>
    </div>
</div>