{layout ABSOLUTE_PATH . '/../app/adminModule/templates/ajaxModalLayout.latte'}

{block content}

{form form}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{_'Zavrieť'}</span></button>
        <h4 class="modal-title">{$siteTitle}</h4>
    </div>

    <div class="modal-body">
        <div class="form-group float-label">
            <input class="form-control input-lg" n:name="title">
            {label title /}
        </div>

        <div class="form-group float-label">
            <textarea class="form-control" n:name="description"></textarea>
            {label description /}
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group float-label">
                    <input class="form-control input-lg" n:name="delivery_days">
                    {label delivery_days /}
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group float-label">
                    <select class="form-control input-lg" n:name="delivery_days_heureka"></select>
                    {label delivery_days_heureka /}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group float-label">
                    <input class="form-control input-lg" n:name="sort">
                    {label sort /}
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group float-label">
                    <input class="form-control input-lg" n:name="icon">
                    {label icon /}
                </div>
            </div>
        </div>

        <div class="form-group">
            {label color /}
            <input n:name="color">
        </div>

        <div class="form-group">
            <label n:name="add_to_cart">
                <input n:name="add_to_cart">
                {_'Je možné pridať do košíka'}
            </label>
        </div>
    </div>

    <div class="modal-footer">
        <input class="btn btn-lg btn-primary btn-block" n:name="submit">
    </div>
{/form}