{if $availability}
    <span class="product-availability separator" style="color: {$availability->color|noescape}">
        {if $availability->icon}<i class="{$availability->icon}"></i> {/if}{$availability->title}
    </span>

    <span n:if="$availability->description" class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="{$availability->description}"></span>
{/if}