<div class="delivery-date">
    <img src="/images/template/ico-doprava-detial.svg" alt="Doprava" style="margin-top: -4px;">
    <span>{_'Doručíme k Vám domov už'}</span>
    <strong {*style="color: {$availability->color|noescape};"*}>{$text}</strong>
</div>