<div class="panel-heading">
    {_'Zoznam dostupnosti'}

    <a href="{plink ShopProductsAvailability:create, 'id' => null}" class="btn btn-secondary btn-sm pull-right ajax-modal">
        <span class="glyphicon glyphicon-plus-sign"></span>{_'Pridať'}
    </a>
</div>

<div class="panel-body reset-top reset-border">
    <div class="panel panel-primary negativ-margin">
        <div class="panel-body custom-collapse">
            {if count($list) > 0}
                <div class="panel-group">
                    <div class="panel {$active == null ? 'panel-warning' : 'panel-default'} reset-margin">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="row-num">&nbsp;&nbsp;</span>
                                <a href="{plink ShopProductsAvailability: 'id' => null}" class="title">
                                    {_'Všetky pravidlá'}
                                </a>
                            </h4>
                        </div>
                    </div>

                    {foreach $list as $item}
                        <div class="panel {$active && $active['id'] == $item['id'] ? 'panel-warning' : 'panel-default'} reset-margin">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="row-num">{$iterator->getCounter()}</span>

                                    <span class="label" style="color: #eee; background-color: {$item['color']|noescape}">&nbsp;&nbsp;</span>

                                    <a href="{plink ShopProductsAvailability: 'id' => $item['id']}" class="title">
                                        {$item['title']}
                                    </a>

                                    <span class="pull-right">
                                        <a href="{plink ShopProductsAvailability:edit, 'id' => $item['id']}" class="btn btn-xs btn-link text-info ajax-modal">
                                            <span class="glyphicon glyphicon-edit text-info"></span>
                                            {_'Upraviť'}
                                        </a>
                                        <a href="{plink ShopProductsAvailability:delete, 'id' => $item['id']}" class="btn btn-xs btn-link text-danger ajax-modal">
                                            <span class="glyphicon glyphicon-remove text-danger"></span>
                                            {_'Odstrániť'}
                                        </a>
                                    </span>
                                </h4>
                            </div>
                        </div>
                    {/foreach}
                </div>
            {else}
                <br>
                <div class="lead text-center">
                    {_'Niesu pridané žiadne dostupnosti produktov.'}
                </div>
            {/if}
        </div>
    </div>
</div>